@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$white-color: #FFFFFF;
$darkgray-color: #0000000D;
$ligthgray-color: #fafafa;
$gray-color: #e8e8e8;
$primary-color: #002B79;
$blue-color: #074CE7;
$orange-color: #FE9202;
$pink-color: #E9D0FC;
$lightpink-color: #F9F5FE;
$red-color: #FF2600;

$container-mobile: 95%;