nav{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 5rem;
        width: auto;
        margin-top: 1rem;
    }
}
.guestLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-color;
}

