.login{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;

        .login_form{
            padding:1rem;
            margin: 1rem;
            margin-top: -8rem;
            border: 1px solid $pink-color;
            border-radius: 0.7rem;
            background-color: $white-color;
            box-shadow: 0 1rem 1.6rem rgb($darkgray-color, 0.08);
            
            label{
                margin-top: 1rem;
                margin-bottom: 0.2rem;
                font-size:medium;
                font-weight: 600;
                color: $primary-color;
                width: 100%;

                input{
                    
                    padding: 0.7rem;
                    width: 100%;
                    min-width: 20rem;
                    border: 1px solid $pink-color;
                    border-radius: 1rem;
                }
            }
            button{
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-height: 435px) {
    .login{
        .container{
            .login_form{
                margin-top: 0rem; //modified
                height: 18rem; // added

                h2{
                    display: none;
                }
                
                label{
                    font-size:medium; // modified
                }
                button{
                    margin-top: 1rem;
                }
            }
        }
    }
}