@mixin button($textColor: $primary-color, $backgroundColor:$orange-color){
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    background: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    transform: all 400ms ease;
    font-weight: 800;

    &:hover{
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgb($darkgray-color, 0.15);
    }
}

@mixin button_blue($textColor: $white-color, $backgroundColor:$primary-color){
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    background: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    transform: all 400ms ease;
    font-weight: 800;

    &:hover{
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgb($darkgray-color, 0.15);
    }
}